In [1]:
import pandas as pd
df3 = pd.read_csv('data/2008.csv.bz2')

In [2]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389217 entries, 0 to 2389216
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 528.6+ MB

In [3]:
df3['DepTime'].value_counts()

600.0    5733
555.0    5659
700.0    5454
655.0    5004
556.0    4799
         ...
246.0       1
322.0       1
347.0       1
312.0       1
307.0       1
Name: DepTime, Length: 1434, dtype: int64

In [33]:
import numpy as np

def convert_to_time(x):
    try:
        return pd.to_datetime(x.astype(int).astype(str).str.zfill(4), format='%H%M').dt.time
    except ValueError:
        return np.nan

In [34]:
df3['time_col'] = df3['DepTime'].apply(convert_to_time)

AttributeError: 'float' object has no attribute 'astype'

In [30]:
df3['time_col'].value_counts()

Series([], Name: time_col, dtype: int64)

In [4]:
df3[df3['DepTime']>1000]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
5,2008,1,3,4,2024.0,2020,2325.0,2325,WN,51,...,13.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389211,2008,4,17,4,1047.0,1050,1248.0,1252,DL,1206,...,8.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389212,2008,4,17,4,1025.0,1025,1234.0,1237,DL,1207,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389213,2008,4,17,4,1319.0,1320,1527.0,1524,DL,1208,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389214,2008,4,17,4,1335.0,1335,1556.0,1553,DL,1209,...,7.0,31.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389215,2008,4,17,4,1933.0,1935,2140.0,2141,DL,1210,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df3[df3['DepTime']<999]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7,2008,1,3,4,622.0,620,935.0,930,WN,2621,...,7.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,708.0,615,936.0,840,WN,969,...,10.0,10.0,0,NaN,0,53.0,0.0,3.0,0.0,0.0
14,2008,1,3,4,954.0,940,1206.0,1205,WN,2974,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
17,2008,1,3,4,740.0,740,836.0,840,WN,311,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389207,2008,4,17,4,712.0,720,823.0,844,DL,1203,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389208,2008,4,17,4,934.0,940,1036.0,1050,DL,1203,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389209,2008,4,17,4,739.0,740,951.0,945,DL,1204,...,6.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389210,2008,4,17,4,601.0,600,823.0,819,DL,1205,...,8.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389216,2008,4,17,4,621.0,615,752.0,754,DL,1211,...,15.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [9]:
df3[df3['DepTime']<99]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
41,2008,1,3,4,13.0,1915,57.0,2005,WN,186,...,3.0,6.0,0,NaN,0,0.0,0.0,0.0,0.0,292.0
6314,2008,1,5,6,47.0,2040,151.0,2145,WN,505,...,5.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,243.0
10112,2008,1,6,7,22.0,2040,241.0,2300,WN,3939,...,3.0,22.0,0,NaN,0,0.0,0.0,0.0,0.0,221.0
13680,2008,1,7,1,22.0,2110,142.0,2225,WN,1973,...,8.0,11.0,0,NaN,0,0.0,5.0,5.0,0.0,187.0
13817,2008,1,7,1,41.0,2135,320.0,25,WN,3927,...,7.0,11.0,0,NaN,0,175.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387981,2008,4,16,3,7.0,2359,651.0,650,DL,1258,...,5.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2388280,2008,4,16,3,32.0,30,648.0,710,DL,1664,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2388847,2008,4,17,4,45.0,50,556.0,531,DL,826,...,6.0,40.0,0,NaN,0,0.0,0.0,25.0,0.0,0.0
2388900,2008,4,17,4,33.0,35,555.0,559,DL,878,...,7.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389000,2008,4,17,4,52.0,55,754.0,809,DL,986,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df3[df3['DepTime']<9]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
77380,2008,1,27,7,7.0,2030,207.0,2230,WN,273,...,3.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,217.0
79632,2008,1,27,7,6.0,2105,256.0,5,WN,2295,...,3.0,5.0,0,NaN,0,0.0,0.0,0.0,0.0,171.0
92669,2008,1,31,4,1.0,1955,333.0,2240,WN,3307,...,3.0,73.0,0,NaN,0,62.0,0.0,47.0,0.0,184.0
102268,2008,1,25,5,4.0,2130,133.0,2258,XE,7812,...,6.0,24.0,0,NaN,0,0.0,154.0,1.0,0.0,0.0
113147,2008,1,6,7,1.0,2252,109.0,2354,XE,3032,...,6.0,14.0,0,NaN,0,0.0,0.0,6.0,0.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382788,2008,4,12,6,2.0,2355,709.0,712,DL,786,...,7.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2383818,2008,4,13,7,4.0,2355,723.0,712,DL,786,...,9.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2384258,2008,4,13,7,3.0,2359,709.0,650,DL,1258,...,12.0,29.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
2384778,2008,4,13,7,4.0,2315,720.0,627,DL,1896,...,7.0,25.0,0,NaN,0,0.0,0.0,4.0,0.0,49.0
2387981,2008,4,16,3,7.0,2359,651.0,650,DL,1258,...,5.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

df = pd.read_csv('data/1987.csv.bz2')

df.head()

df.to_csv('data/1987.csv.gz', compression = "gzip")

In [13]:
def extract_individual_files(extracted_files: Tuple[str, ...]) -> Tuple[str, ...]:
    new_extracted_files = []
    for file_path in extracted_files:
        if file_path.endswith('.bz2'):
            with open(file_path, 'rb') as f:
                content = f.read()
            decompressed_content = bz2.decompress(content)
            new_file_path = file_path[:-4]  # remove .bz2 extension
            with open(new_file_path, 'wb') as f:
                f.write(decompressed_content)
            new_extracted_files.append(new_file_path)
        else:
            new_extracted_files.append(file_path)
    print((new_extracted_files))
    return (new_extracted_files)

In [16]:
extracted_files = ('data/1987.csv.bz2', 'data/1988.csv.bz2', 'data/1989.csv.bz2', 'data/1990.csv.bz2', 'data/1991.csv.bz2', 'data/1992.csv.bz2', 'data/1993.csv.bz2', 'data/1994.csv.bz2', 'data/1995.csv.bz2', 'data/1996.csv.bz2', 'data/1997.csv.bz2', 'data/1998.csv.bz2', 'data/1999.csv.bz2', 'data/2000.csv.bz2', 'data/2001.csv.bz2', 'data/2002.csv.bz2', 'data/2003.csv.bz2', 'data/2004.csv.bz2', 'data/2005.csv.bz2', 'data/2006.csv.bz2', 'data/2007.csv.bz2', 'data/2008.csv.bz2', 'data/airports.csv', 'data/carriers.csv', 'data/plane-data.csv', 'data/variable-descriptions.csv')
individual_files = extract_individual_files(extracted_files)
# compress_file(individual_files)

['data/1987.csv', 'data/1988.csv', 'data/1989.csv', 'data/1990.csv', 'data/1991.csv', 'data/1992.csv', 'data/1993.csv', 'data/1994.csv', 'data/1995.csv', 'data/1996.csv', 'data/1997.csv', 'data/1998.csv', 'data/1999.csv', 'data/2000.csv', 'data/2001.csv', 'data/2002.csv', 'data/2003.csv', 'data/2004.csv', 'data/2005.csv', 'data/2006.csv', 'data/2007.csv', 'data/2008.csv', 'data/airports.csv', 'data/carriers.csv', 'data/plane-data.csv', 'data/variable-descriptions.csv']

In [27]:
compress_file(['data/1987.csv', 'data/1988.csv', 'data/1989.csv', 'data/1990.csv', 'data/1991.csv', 'data/1992.csv', 'data/1993.csv', 'data/1994.csv', 'data/1995.csv', 'data/1996.csv', 'data/1997.csv', 'data/1998.csv', 'data/1999.csv', 'data/2000.csv', 'data/2001.csv', 'data/2002.csv', 'data/2003.csv', 'data/2004.csv', 'data/2005.csv', 'data/2006.csv', 'data/2007.csv', 'data/2008.csv', 'data/airports.csv', 'data/carriers.csv', 'data/plane-data.csv', 'data/variable-descriptions.csv'])

KeyboardInterrupt:

In [12]:
import pandas as pd

In [11]:
import csv

with open('minutes_of_day.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['minutes'])
    for i in range(0, 24):
        for j in range(0, 60):
            minutes = f"{i:02d}{j:02d}"
            writer.writerow([minutes])

In [29]:
df4 = pd.read_csv('airline_on_time/seeds/airports.csv')

In [27]:
df4.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [32]:
df4[df4.state.str.contains(",", na=False)]

Empty DataFrame
Columns: [iata, airport, city, state, country, lat, long]
Index: []

In [33]:
df5 = pd.read_csv('airline_on_time/seeds/plane-data.csv')

In [34]:
df5.head()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df5.to_csv('plane-data2.csv', index=False)